
//
// Base
//
body {
    background-color: white;
    margin: 0;
    padding: 0;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

img {
  width: 100%;
  max-width: 100%;
}

.layout {
  overflow: hidden;
}

.container {

}

iframe {
  border: none;
}

//
// Utility
//
.sr-only {
  @include size(1px);

  border: 0;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
