


////
/// @name Breakpoint
/// @group Config
///
/// Media query breakpoints, simplified.
////

/// Media query breakpoint generator.
/// @name breakpoint
/// @group Mixins
/// @access public
/// @param {String} $point - The point key from the $grid-breakpoints configuration map.
@mixin breakpoint($point, $direction: 'up') {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @if $point == $breakpoint {
      @if $point == 'xs' {
        @media (max-width: map-get($grid-breakpoints, sm)-1px) {
          @content;
        }
      } @else {
        @if $direction == 'down' {
          @media (max-width: map-get($grid-breakpoints, $breakpoint)-1px) {
            @content;
          }
        } @else {
          @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
            @content;
          }
        }
      }
    }
  }
}


////
/// @name Aspect Ratio
/// @group Mixins
/// Aspect ratio mixins
////

/// @name aspect-ratio
/// @public
/// @param $ratio-or-width - X:X ratio or width
/// @param $height         - Height
/// $amend                 - is this just an update to the preset ratio, if so we only change the padding value?
@mixin aspect-ratio($ratio-or-width, $height: null, $amend: false) {
  $padding: if($height, percentage($height/$ratio-or-width), percentage(1/$ratio-or-width));
  @if $amend == false {
    &:before {
      content:'';
      float: left;
      padding-bottom: $padding;
    }
    &:after  {
      content:'';
      display: table;
      clear: both;
    }
  } @else {
    &:before {
      padding-bottom: $padding;
    }
  }
}
